@import 'variables.css';

/* Reset global du style par défaut */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--black);
}

#home .header{
  background-color: var(--dark-grey);
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 64px);
  padding-top: 10vh;
}

#home .content .search-input{
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--black);
  text-align: center;
}

#home .content .controls{
  width: 100%;
  /* background-color: aquamarine; */
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

#home .content .controls .controls-infos{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: red; */
}

#home .content .controls .controls-infos:last-child{
  margin-left: 20px;
}

#home .content .controls .controls-infos button{
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

#home .content .controls .controls-infos button:nth-child(1){
  margin-right: 20px;
}

#home .content .controls .controls-infos button img{
  height: 30px;
  width: 30px;
  opacity: .5;
}

#home .content .results-box{
  padding: 20px;
  border-top: 1px solid var(--black);
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  height: 80%;
  overflow: auto;
}