@import 'variables.css';

/* Reset global du style par défaut */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--black);
}

#home .header{
  background-color: var(--dark-grey);
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 64px);
  padding-top: 10vh;
}

#home .content .results-box{
  padding: 20px;
  border-top: 1px solid var(--black);
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  height: 80%;
  overflow: auto;
}