/* Variabilisation des couleurs présentes
dans le projet pour une meilleure lisibilité
et une centralisation des changements potentiels */

:root{
  --white: #FFFFFF;
  --black: #000000;
  --rgb-black: 0,0,0;
  --dark-grey: #a8a8a8;
  --grey: #E5E5E5;
  --blue: #49a4ff;
  --cyan: #00FFFF;
  --dark-cyan: #008B8B;
}